/* SETTINGS
============================================================================
	1. Basic Variables
	2. Color Variables
	3. Breakpoints
	4. Spacing
    5. Grid
============================================================================ */
/* stylelint-disable scss/dollar-variable-default */

//------------------------------------
//      #Font Variables
//------------------------------------

// Font-Family
// $font-family-primary:           "Raleway", sans-serif;
// $font-family-second:            "Lato", sans-serif;

// Font-Sizes
// $font-size-default:             10px; // default website fontsize
// $font-size-tiny:                1.2rem;
// $font-size-small:               1.4rem;
// $font-size-medium:              1.6rem;
// $font-size-regular:             1.8rem;
// $font-size-base:                $font-size-regular; // default font-size
// $font-size-large:               2.2rem;
// $font-size-xlarge:              3rem;
// $font-size-huge:                4rem;

// Line-Height
// $line-height-none:              1;
// $line-height-base:              1.5;

// Font-Weight 00,300i,400,400i,700,700i
// $font-weight-lighter:           100;
// $font-weight-light:             300;
// $font-weight-base:              400;
// $font-weight-bold:              700;

//------------------------------------
//      #Color Variables
//------------------------------------
// BF3434 F2B035 961227 04C7C7
$color-primary:                 #08AEB8;
$color-primary-light:           #24F4FF;
$color-primary-dark:            #02666B;

// $color-success:                 #3C763D;
// $color-info:                    #31708F;
// $color-warning:                 #C1B14F;
// $color-alert:                   #A94442;
// 696e7b
$color-gray-base:               #9B9FAA;
$color-gray-dark:               darken($color-gray-base, 28%);
$color-gray-darker:             darken($color-gray-base, 46%);
$color-gray-darkest:            darken($color-gray-base, 53.5%);
$color-gray-light:              lighten($color-gray-base, 20%);
$color-gray-lighter:            lighten($color-gray-base, 30%);
$color-gray-lightest:           lighten($color-gray-base, 38%);

$color-white:                   $color-gray-lightest;
$color-black:                   $color-gray-darkest;

// Use this variable for font-color
$color-font-base:               $color-gray-lightest;
$color-font-light:              $color-gray-light;
$color-font-dark:               $color-gray-base;

//------------------------------------
//      #Misc Variables
//------------------------------------

// $z-index-max: 9999;

//------------------------------------
//  #Breakpoints
/*------------------------------------
breakpoints from /node_modules/sass-mq/_mq.scss
Usage example:
    @include mq($from: mobile, $until: tablet) {
        background: red;
    }
    @include mq($from: tablet) {
        background: green;
    }
------------------------------------*/

// $mq-breakpoints: (
//     null:                       0px,
//     xs:                         576px,
//     sm:                         576px,
//     md:                         768px,
//     lg:                         992px,
//     xl:                         1200px
// );

// $mq-container-width: (
//     null:                       520px,
//     xs:                         520px,
//     sm:                         520px,
//     md:                         760px,
//     lg:                         760px,
//     xl:                         1200px
// );

//------------------------------------
//  #Spacing
/*------------------------------------
For usage see spacing.scss
------------------------------------*/
// $spacing-default:               5px;
// $spacing-breakpoint-seperator:  \@;

// $spacing-none:                 0;
// $spacing-tiny:                  $spacing-default;           // 5px
// $spacing-small:                 $spacing-default * 2;       // 10px
// $spacing-medium:                $spacing-default * 4;       // 20px
// $spacing-large:                 $spacing-default * 6;       // 30px
// $spacing-huge:                  $spacing-default * 8;       // 40px

//------------------------------------
//  #Grid
/*------------------------------------
For usage see grid.scss

either the settings of $grid-container-breakpoints or those of $mq-container-width
------------------------------------*/
// $grid-columns:                  12;
// $grid-columns-gutter:           $spacing-small;
// $grid-columns-spacing-inner:    $spacing-medium;
// $grid-container-gutter:         $spacing-small;

// $grid-container-breakpoints:    (sm, md, lg);
// $grid-get-breakpoints:          $mq-container-width;
// // $grid-get-breakpoints:       $grid-container-breakpoints;

/* stylelint-enable scss/dollar-variable-default */
