{% set footerCounterPages = site.children.listed() %}

{% embed '@snippets/shared/skeleton/footer/footer.twig' %}
    {% block footerInfo %}
        Das Projekt <a href="{{ site.url }}" class="link link--background">{{ site.title }}</a> Seiten:
         {{ site.children.children.children.listed().count }}
    {% endblock %}
{% endembed %}
